<!DOCTYPE html>
html(lang="en")
  head
    title= site.title
  body
    h1= data.title
    h2= data.slogan
    h3
      a(href='/about/') About
    hr
    each item in data.deps
      h3
        a(href=item.path)= item.data.title