<!DOCTYPE html>
html(lang="en")
  head
    title= site.title
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/blog/") Blog
        li
          a(href="/about/") About
        li
          a(href="/index.rss") RSS
    br
    h1= page.title
    h2= page.slogan
    hr
    p We have #{page.deps.length} articles